<footer class="footer-wrap">
{#<img src="{% static 'homepage/img/footer-shape-1.png' %}" alt="Image" class="footer-shape-one">#}
{#<img src="{% static 'homepage/img/footer-shape-2.png' %}" alt="Image" class="footer-shape-two">#}
<div class="container">
<div class="row pt-100 pb-75">
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
<div class="footer-widget">
<a href="/index" class="footer-logo">
{#<img src="{% static 'homepage/img/logo-white.png' %}" alt="Image" alt="网页logo">#}
</a>
<p class="comp-desc">订阅我们的通讯获取最新内容和更多新资源。</p>
<form action="#" class="newsletter-form">
<input type="email" placeholder="Enter Your Email">
<button type="submit">现在就订阅</button>
</form>
<ul class="social-profile style1 list-style">
<li>
<a target="_blank" href="https://facebook.com">
<i class="ri-facebook-line"></i>
</a>
</li>
<li>
<a target="_blank" href="https://twitter.com">
<i class="ri-twitter-line"></i>
</a>
</li>
<li>
<a target="_blank" href="https://instagram.com">
<i class="ri-instagram-line"></i>
</a>
</li>
<li>
<a target="_blank" href="https://linkedin.com">
<i class="ri-linkedin-line"></i>
</a>
</li>
</ul>
</div>
</div>
<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
<div class="footer-widget">
<h3 class="footer-widget-title">快速链接</h3>
<ul class="footer-menu list-style">
 <li>
<a href="/index" target="_blank">
首页
</a>
</li>
<li>
<a href="/about" target="_blank">
关于工作室
</a>
</li>
<li>
<a href="/blog-left-sidebar" target="_blank">
消息 &amp; 博客
</a>
</li>
<li>
<a href="/contact" target="_blank">
联系工作室
</a>
</li>
</ul>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ps-xl-4">
<div class="footer-widget">
<h3 class="footer-widget-title">关注工作室</h3>
<ul class="footer-menu list-style">
<li>
<a href="https://blog.csdn.net/weixin_52182640?spm=1011.2415.3001.5343" target="_blank">
CSDN
</a>
</li>
<li>
<a href="https://mp.weixin.qq.com/mp/homepage?__biz=Mzg2NjczMjMxOA==&hid=1&sn=ca0766f99f9d2dc35274baf9d25bb143&scene=18" target="_blank">
微信公众号
</a>
</li>
</ul>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
<div class="footer-widget">
<h3 class="footer-widget-title">联系我们</h3>
<ul class="contact-info list-style">
<li>
<i class="ri-map-pin-fill"></i>
<p>云南省昭通市昭阳区</p>
</li>
<li>
<i class="ri-phone-fill"></i>
<a href="tel:15990710899">+1-5990-7108-99</a>
<a href="tel:15706762679">+1-5706-7626-79</a>

</li>
 <li>
<i class="ri-mail-open-fill"></i>
<a href="/contact/"><span class="__cf_email__" >2338199895@qq.com</span></a>
<a href="/contact/"><span class="__cf_email__" >2338199895@qq.com</span></a>
</li>
</ul>
</div>
</div>
</div>
</div>
<p class="copyright-text">您是第{{ count }}位访问本站的朋友&emsp;&emsp;<i class="ri-copyright-line"></i>版权所有&emsp;<a href="http://www.kdx-qsbl.top">人工智能算法软件工作室</a>&emsp;备案号： <a class="banquan" style="color:#000;" href="https://beian.miit.gov.cn/" target="_blank">滇ICP备2021000045号-1</a></p>
</footer>