<header class="header-wrap style1">
<div class="container">
<nav class="navbar navbar-expand-md navbar-light">
<a class="navbar-brand" href="/index.html">
<img class="logo-light" src="assets/img/logo.png" alt="logo">
<img class="logo-dark" src="assets/img/logo-white.png" alt="logo">
</a>
<div class="collapse navbar-collapse main-menu-wrap" id="navbarSupportedContent">
<div class="menu-close d-lg-none">
<a href="javascript:void(0)"> <i class="ri-close-line"></i></a>
</div>
<ul class="navbar-nav mx-auto">
<li class="nav-item">
<a href="#" class="nav-link active">
首页
</a>
</li>
<li class="nav-item">
<a href="/AiSecurity" class="nav-link">
AI+安防
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="#" class="nav-link">敬请期待</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="/AiEducate" class="nav-link">
AI+教育
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="#" class="nav-link">敬请期待</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="/AiAgriculture" class="nav-link">
AI+农业
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="#" class="nav-link">敬请期待</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="/AiFinance" class="nav-link">
AI+金融
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="#" class="nav-link">敬请期待</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="/AiMedical" class="nav-link">
AI+医疗
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="#" class="nav-link">敬请期待</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="/AiHousehold" class="nav-link">
AI+家居
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="#" class="nav-link">敬请期待</a>
</li>
</ul>
</li>
</ul>
<div class="other-options md-none">
<div class="option-item">
<a href="login.html" class="btn style1">登录</a>
</div>
</div>
</div>
</nav>
<div class="mobile-bar-wrap">
<div class="mobile-menu d-lg-none">
<a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
</div>
</div>
</div>
</header>